{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ansys Executor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
        
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="/user-tasks/" class="nav-link">Пользовательские задачи</a>
                </li>
                <li class="nav-item">
                    <a href="/experiments/" class="nav-link">Эксперименты</a>
                </li>
                <li class="nav-item">
                    <a href="/results/" class="nav-link">Результаты</a>
                </li>
                <li class="nav-item">
                    <a href="/graphs/" class="nav-link">Графики</a>
                </li>
                <li class="nav-item">
                    <a href="/docs/" class="nav-link">Документация</a>
                </li>
            </ul>

            <a href="/" class="nav-logo">Ansys Executor</a>

        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>